
# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:bumyjuquLu
allow from 179.180.203.159
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE bumyjuquLu:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:MesavyNeSu
allow from 179.107.108.10
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE MesavyNeSu:IPALLOWID

